# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Renviron

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# Wiki related products
BoF/Bof_Assessment_Wiki/*.html
BoF/Bof_Assessment_Wiki/*.css
BoF/Bof_Assessment_Wiki/*.tex

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.md
*.log

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# ignore folder
/archive/
archive/
Archive/

# data and docs
*.csv
*.xlsx
*.xls
*.docx
*.doc
*.pdf
*.png
InshoreAssessmentWorkflow/*.html
InshoreAssessmentWorkflow/*.tex
InshoreAssessmentWorkflow/*.css